---
import { CONTENT_TYPE } from '@/consts';
import { BarChart, PieChart, PieLegend } from '@/feature/Chart';
import { Giscus } from '@/feature/Post/Giscus';
import { Separator } from '@/feature/ui/separator';
import { BackButton } from '@/layouts/component/BackButton';
import { SocialList } from '@/layouts/component/SocialList';
import PageLayout from '@/layouts/PageLayout.astro';
import { ContentBuilder } from '@/service/mdx';

const seo = {
  title: 'About',
  description: '안녕하세요! 개발자 오릭입니다.',
  image: '/notionFace.png'
};

const blogPostData = Object.entries(
  (await ContentBuilder.ALL()).list().reduce(
    (acc: Record<keyof typeof CONTENT_TYPE, number>, post) => {
      const type = post.data.type as keyof typeof CONTENT_TYPE;

      if (!acc[type]) acc[type] = 1;
      else acc[type] += 1;

      return acc;
    },
    {
      dev: 0,
      docs: 0,
      snippet: 0,
      book: 0,
      life: 0
    }
  )
).map(([name, value]) => ({ name: CONTENT_TYPE[name as keyof typeof CONTENT_TYPE].title, value }));

const blogTagsData = Object.entries(
  (await ContentBuilder.ALL()).list().reduce((acc: Record<string, number>, post) => {
    const tags = post.data.tags || [];

    for (const tag of tags) {
      if (!acc[tag]) acc[tag] = 1;
      else acc[tag] += 1;
    }

    return acc;
  }, {})
).map(([name, value]) => ({ name, value }));

const sortedType = blogPostData.sort((a, b) => b.value - a.value);
const mostWrittenType = sortedType[0];
const leastWrittenType = sortedType[sortedType.length - 1];

const mostWrittenTag = blogTagsData.sort((a, b) => b.value - a.value)[0];
---

<PageLayout seo={seo}>
  <section class="my-20 gap-5 md:flex" data-animate>
    <div class="mx-auto w-1/2 md:w-1/4">
      <img alt="About" class="w-full rounded-lg shadow-lg" src="/notionFace.png" />
    </div>
    <div class="flex flex-col items-center justify-center py-2 md:block md:w-3/4">
      <h1 class="text-xl font-bold">안녕하세요! 개발자 오릭입니다.</h1>
      <p class="my-5">
        최근에는 프론트엔드 공부에 전념하고 있습니다.
        <br />
        커피챗은 언제나 환영입니다. ☕️
      </p>

      <SocialList client:load />
    </div>
  </section>

  <section class="my-64 items-center gap-2 md:flex" data-animate>
    <article>
      <p>
        최근에는 <span class="font-semibold">{mostWrittenType.name}</span>에 가장 관심이 많은 것 같습니다.<br />
        <span class="font-semibold">{mostWrittenType.value}</span>개의 글을 작성했네요. <br />
      </p>
      <p class="mt-5">
        반면에 <span class="font-semibold">{leastWrittenType.name}</span>에는 관심이 적은 것 같습니다.<br />
        <span class="font-semibold">{leastWrittenType.value}</span> 개의 글을 작성했네요.
      </p>
    </article>

    <BarChart className="h-52" client:load data={blogPostData} />
  </section>

  <section data-animate>
    <p class="my-10">
      블로그에 분포된 태그는 다음과 같습니다. <br />
      <span class="font-semibold">{mostWrittenTag.name}</span>를 관련해서 가장 많은 글을 작성했네요.
    </p>

    <PieChart className="h-96 w-full" client:load data={blogTagsData} />
    <PieLegend data={blogTagsData} />
  </section>

  <section class="my-64">
    <div class="flex justify-between">
      <h2 class="text-2xl font-bold">방문록</h2>
      <BackButton client:only="react" />
    </div>
    <Separator className="mb-10" />
    <Giscus client:load />
  </section>
</PageLayout>
